html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: red;
}

.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}